// src/styles/_variables.scss

// Cores principais da marca
$primary-color: #F58220;         // Laranja vibrante (fundo de botão principal)
$primary-color-light: #FF9F50;   // Laranja claro (hover/destaque)
$white: #FFFFFF;                 // Texto dos botões
$dark-gray: #4D4D4F;             // Texto secundário
$light-gray: #F9F9F9;            // Fundo da tela
$gray-border: #CCCCCC;
$gray-input:#c9c9c9;        // Ícones e bordas
$txt:#1f1f1f;

