@import "../../../styles/variables.scss";
main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;

    section{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
    .main-section{
        gap: 8px;
        flex-grow: 1;
        background-color: $light-gray;

        .logo{
            width: 480px;
            height: 230px;
        }

        h1{
            font-size: 15px;
            font-weight: bold;
        }
    }

    .form-section{
        flex-grow: 0.4;
        gap: 10px;
        h2{
            font-size: 20px;
            font-weight: bold;
        }
        button{
            margin: 4px;
            padding: 10px;
            width: 90%;
            border-radius: 8px;
            font-size: 16px;
            font-weight: 500;
            border: none;
            background: transparent;
            
            &:disabled{
                opacity: 0.7;
            }

            &.primarybtn{
                background-color: $primary-color;
                color: white;
                box-shadow: 0 8px 12px rgb(48, 48, 48);
            }
            &.secondarybtn{
                border: 1px solid $primary-color;
                color: $primary-color;
            }
            
        }
    }
}
