@import "../../../styles/variables.scss";
.Logo{
    margin-top: 8px;
    width: 120px;
}
.Perfil{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    object-fit: cover;
}
.dropdown-toggle{
    padding: 0;
    width: 40px;
    height: 40px;
    img{
        width: 40px;
        height: 40px;
    }
}
.btn-outline-success{
    border:solid 1px $primary-color;
    color: $txt;
}
.btn-outline-success:hover{
    background-color: $primary-color;
    color: white;
    transition-duration: 0.3s;
}
.nav-link:hover{
    color: $primary-color;
}